* {
    box-sizing: border-box;
  }
.links{
    float:right;
    font-size: 20px;
    word-spacing: 10px;
    margin: 25px 50px 10px 300px; 
}

.myName{
    font-size: 50px;
}

.topDivider{
    border: solid 8px rgb(90, 85, 85);
}

.headerAndLinks{
    margin: 30px 1px 1px 1px;    
}

.homePage{
    background-image: url('../My-Personal-Website-Repository/Images/compass.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} 
.aboutPage{
    background-image: url('../My-Personal-Website-Repository/Images/openField3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} 
.portfolioPage{
    background-image: url('../My-Personal-Website-Repository/Images/code.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} 

.homeBodyHeader{
    width: auto;
    height: 100px;
}

.meToday{
    text-align: center;
    font-size: 40px;
}

.myQuote{
    text-align: center;
    /* background-color: azure; */
    margin-top: 100px;
    margin-left: 25%;
    margin-right: 25%;
    height: fit-content;
    word-spacing: 10px;
}

.aboutAOne{
    display: flex;
}

.aboutATwo{
    display: flex;
}

.aboutAThree{
    display: flex;
}
.contactPage{
    background-color:deepskyblue;
}

#bAndC{
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 900px;
    height: 190px;
    margin-top: 10px;
    margin-left: 50px;
    /* color: chartreuse; */
    float: left;
}

.bAndCI{
    margin: 10px 30px 10px 100px;
    border-radius: 10px;
    border: 5px solid #73AD21;
    height: 190px;
    width: 330px;
    float:right;
}

.hAndFI{
    margin: 10px 30px 10px 100px;
    border-radius: 10px;
    border: 5px solid #73AD21;
    height: 190px;
    width: 330px;
    float:right;
}

#hAndF{
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 900px;
    height: 190px;
    margin-top: 10px;
    margin-left: 50px;
    /* color: chartreuse; */
    float: left;
}

.garden{
    margin: 10px 30px 10px 100px;
    border-radius: 10px;
    border: 5px solid #73AD21;
    height: 190px;
    width: 330px;
    float:right;
}

#gardening{
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 900px;
    height: 190px;
    margin-top: 10px;
    margin-left: 50px;
    /* color: chartreuse; */
    float: left;
}

.mountains{
    float:left;
    margin: 10px 30px 10px 130px;
    border-radius: 10px;
    border: 2px solid #73AD21;
    height: 190px;
    width: 330px;
}


.forest{
    float:left;
    margin: 10px 30px 10px 130px;
    border-radius: 10px;
    border: 2px solid #73AD21;
    height: 190px;
    width: 330px;
}

.lake{
    float:left;
    margin: 10px 30px 10px 130px;
    border-radius: 10px;
    border: 2px solid #73AD21;
    height: 190px;
    width: 330px;
}

#projectOne{
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 900px;
    height: 190px;
    margin-top: 10px;
    color: chartreuse;
}


/* This is a working code that scales up by 1.1. used for IE9 and safari */

/* #projectOne:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
} */


#projectOneLine{
    display: flex;
    transition: transform .2s;
    
}

#projectTwo{
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 900px;
    height: 190px;
    margin-top: 10px;
    color: chartreuse;
}

#projectTwoLine{
    display: flex;
    transition: transform .2s;
}

#projectThree{
    color: chartreuse;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 900px;
    height: 190px;
    margin-top: 10px;
}

#projectThreeLine{
    display: flex;
    transition: transform .2s;
}

.contactForm{
    color: black;
    background-color: beige;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 900px;
    height: 600px;
    margin: 10px 200px 10px 300px;
    
}

input[type=text] select {
    width: 40%;
    padding: 5px 5px;
    margin: 1px 0;
    /* display:flex; */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
  }

    .form{
        display:flex;
        
    }

  input{
    font-size: 18px;
  }
  label{
    font-size: 18px;
  }

  .fn{
    float:left;
    width: 50%;
  }
  .mn{
    float: right;
    width: 50%;
  } 
  .ln{
    float:left;
    width: 50%;
  }
  .pn{
    float:right;
    width: 50%;
  }
  .un{
    float:left;
    width: 50%;
  }
  .pw{
    float:right;
    width: 50%;
  }

  .em{
    float:left;
    width:100%
  }
    .db{
    float:left;
    width: 50%;
    height: 70px;
    }

    .sex{
        float:right;
        width: 50%;
        height: 70px;
    }

    .kl{
        width:100%;

    }

    .hc{
        float:left;
        width:50%;
    }
    .js{
        float:right;
        width:50%;
    }
    .py{
        float:left;
        width:50%;
    }
    .ccc{
        float:right;
        width:50%;
    }
    .cplus{
        float:left;
        width:50%;
        }

    .oc{
        float:right;
        width:50%;
    }
    .ulp{
        margin-top:15px;
    }